.btn{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: var(--white);
    color: var(--blue);
}

.btn:active {
    animation: clickFeedback 0.5s ease;
}

@keyframes clickFeedback {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}