.shadow-border {
  box-shadow: 0 0 2.5rem var(--blue);
}

.shadow-border:hover {
  box-shadow: 0 0 5rem var(--blue);
}

.edit-shadow-border {
  box-shadow: 0 0 2.5rem var(--grey);
}

.edit-shadow-border:hover {
  box-shadow: 0 0 5rem var(--grey);
}

.edit-shadow-border:focus-visible {
  box-shadow: 0 0 5rem var(--grey) !important;
}

.left-border {
  border-right: 1rem solid var(--blue);
}

.bottom-border {
  border-bottom: 1rem solid var(--blue);
  padding-bottom: 0.5rem;
  width: fit-content;
}

@media screen and (max-width: 990px) {
  .left-border {
    border-right: none;
    border-bottom: 1rem solid var(--blue);
  }
}
