.btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
  transition: all 0.3s ease;
  gap: 1rem;
}

.btn-width {
  width: 100%;
}

.btn-limit {
  max-width: 30vw;
}

@media screen and (max-width: 990px) {
  .btn-limit {
    max-width: 80vw;
  }
}

.btn:hover {
  background-color: var(--white);
  color: var(--blue);
}

.oauth-btn {
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  transition: all 0.3s ease;
  background-color: transparent;
  gap: 1rem;
}

@media screen and (max-width: 990px) {
  .btn {
    width: 100%;
  }
  .btn:active {
    animation: clickFeedback 0.5s ease;
  }
  .oauth-btn:active {
    animation: clickFeedback 0.5s ease;
  }
  .btn:hover {
    background-color: var(--blue);
    color: var(--white);
  }
}

@keyframes clickFeedback {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-input {
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 3rem;
  border-radius: 1.5rem;
  border-width: 0.5rem !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  transition: all 0.3s ease;
}

.select-input {
  padding-bottom: 1.25rem !important;
  padding-top: 1.25rem !important;
}

.text-input:focus-visible {
  box-shadow: 0 0 5rem var(--blue);
  outline: none;
}

.navigation-icon {
  transition: 0.5s ease;
  padding: 0 3rem;
}

.navigation-icon:hover {
  transform: scale(1.1);
}

.menu-icon {
  cursor: pointer !important;
  display: none !important;
  padding: 0 3rem !important;
}

.menu-icon:hover,
.menu-icon:active {
  transform: scale(1.1);
}

@media screen and (max-width: 990px) {
  .menu-icon {
    display: block !important;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.edit-button {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(169, 169, 169, 0.5); 
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: rgba(169, 169, 169, 0.8);
}
